extends layouts/main
block content
    .main__sub
        h1 hi
    .main__home 
        if user
            .home
                .home__writeLogo
                    span 게시물 만들기
                form(action=routes.home, method="post",enctype="multipart/form-data")
                    .home__write
                        img.write__avatar(src=`/${user.avatarUrl}`)
                        input.write__text(type="text", name="text", placeholder="text")
                    .home__writeContent
                        input.writeContent__source(type="file", name="content")
                        input.writeContent__submit(type="submit", value="submit")

            each content in contents
                .home__content
                    h1=content.author
                    h1=content.createdAt
                    if content.fileUrl
                    img(src=content.fileUrl, width="200px",height="200px")
                    h2=content.text
                    .content__react
                        .react__like#jsReact 0
                        .react__reply 0
                    .content__action
                        .action__like 
                            button#jsActionLike like
                        .action__reply 
                            a(href=routes.reply) reply


    .main__user
        each u in users
            if (user.nickname === u.nickname)
                .user
                    span login
                    h1=u.nickname
            else
                .user
                    span logout
                    h1=u.nickname