extends layouts/main
block content 
    if user
        .home
            form.home__write(action=routes.home, method="post",enctype="multipart/form-data")
                input.write__text(type="text", name="title", placeholder="title", required=true)
                input.write__text(type="text", name="text", placeholder="text", required=true)
                input.write__content(type="file", name="content")
                input.write__submit(type="submit", value="submit")
        .home__content
            each content in contents
                h1=content.author
                h1=content.title
                if content.fileUrl
                img(src=content.fileUrl, width="200px",height="200px")
                h2=content.text
        .home__user
            each u in users
                if (user.nickname === u.nickname)
                    .user
                        span login
                        h1=u.nickname
                else
                    .user
                        span logout
                        h1=u.nickname