extends layouts/main
block content
    if user
        .main__sub
            .sub__options
                .options__theme
                    i.fas.fa-star 
                    span 즐겨찾기
                ul.options__lists
                    li.list__option
                        i.fab.fa-youtube
                        span.option__name Youtube
                    li.list__option
                        i.fab.fa-twitch
                        span.option__name Twitch
                    li.list__option 
                        i.fab.fa-instagram
                        span.option__name Instagram
                    li.list__option 
                        i.fab.fa-github
                        span.option__name Github
                
    .main__home 
        if user
            .home
                .home__writeLogo
                    span 게시물 만들기
                form(action=routes.home, method="post",enctype="multipart/form-data")
                    .home__write
                        a.write__avatar(href=routes.profile(user.id))
                            img.write__avatar(src=`/${user.avatarUrl}`)
                        input.write__text(type="text", name="text", placeholder=`${user.nickname}님, 무슨 생각을 하고 계신가요?`)
                    .home__writeContent
                        input.writeContent__source(type="file", name="content")
                        input.writeContent__submit(type="submit", name="submit")
            if contents
                each content in contents
                    .home__content(id=content.id)
                        .content__info
                            .info__author
                                img.miniAvatar(src=`/${content.authorId.avatarUrl}`)
                                h1.author__name=content.authorId.nickname
                            h1=content.createdAt
                        .content__text=content.text
                        if (content.contentType.split("/")[0] === "image")
                            img.content__main(src=content.fileUrl)
                        else if (content.contentType.split("/")[0] === "video")
                            video.content__main(src=content.fileUrl, type=content.contentType, controls=true)
                        .content__react
                            .react__like
                                .like__icon 
                                    i.far.fa-thumbs-up
                                .like__count=content.like
                            .react__info
                                span.info__replyText 댓글
                                span.info__reply=content.comments.length
                                if (content.contentType.split("/")[0] === "video")
                                    span.info__viewText 조회수
                                    span.info__view=content.view
                        .content__action
                            .action__like.jsContentLike 
                                .like__icon 
                                    i.far.fa-thumbs-up
                                .like__button 좋아요
                            .action__reply.jsShowReply 
                                .reply__icon
                                    i.far.fa-comment-dots
                                .reply__button 댓글
                            .action__share
                                .share 공유하기
                        .content__comments
                            .comments__user
                                img.miniAvatar2(src=`/${user.avatarUrl}`)
                                input.user__text.jsComment(type="text", name="comment", placeholder="댓글을 입력하세요...")   
                            .comments__lists
                                each comment in content.comments
                                    .comment__list(id=comment._id)
                                        .list__list
                                            img.miniAvatar2(src=`/${comment.author.avatarUrl}`)
                                            .list__description
                                                span.description__name #{comment.author.nickname}
                                                span.description__text=comment.description
                                        .list__react
                                            .comment__like.jsCommentLike 좋아요
                                            .comment__infoLike
                                                span.infoLike__count=comment.like
                                                span.infoLike__sub 개
                                            .comment__show.jsCommentShow 댓글보기
                                        .comment__reComments
                                            .reComments__user
                                                img.miniAvatar3(src=`/${user.avatarUrl}`)
                                                input.user__text.jsReComment(type="text", name="comment", placeholder="please write comments")
                                            .reComments__lists
                                                each reComment in comment.comments
                                                    .comment__list(id=reComment._id)
                                                        .list__list
                                                            img.miniAvatar3(src=`/${reComment.author.avatarUrl}`)
                                                            .list__description
                                                                span.description__name #{comment.author.nickname}
                                                                span.description__text=reComment.description
                                                        .list__react
                                                            .comment__like.jsCommentLike 좋아요
                                                            .comment__infoLike
                                                                span.infoLike__count=reComment.like
                                                                span.infoLike__sub 개
                                                            .comment__show.jsReCommentShow 댓글보기
                                                    
