extends layouts/main
block content 
    .profile
        img.profile__avatar(src=`/${user.avatarUrl}`,width ="50px",height="50px") 
        .profile__name= user.name
        .profile__nickname= user.nickname
        .profile__email= user.email
    button.profile__btn
        a(href=routes.editProfile(user.id)) editProfile