header.header    
    .header__search
        .search__home
            a(href=routes.home) 
                i.fab.fa-kickstarter
                
        .search__bar
            form(action=routes.search, method="get").bar__form
                input(type="text", name="search").bar__input
                input(type="submit", value="click").bar__submit
    .header__users
        if !user
            .users__join 
                a(href=routes.join) JOIN
            .users__login
                a(href=routes.login) LOGIN
        else
            .users__avatar
                img.avatar__img(src=`/${user.avatarUrl}`)
            .users__join 
                a(href=routes.profile(user.id))=user.nickname
            .users__login
                a(href=routes.logout) LOGOUT
