header.header
    .header__sticky
        .sticky__home
            a(href=routes.home) HOME
        if !user
            .sticky__join 
                a(href=routes.join) JOIN
            .sticky__login
                a(href=routes.login) LOGIN
        else
            .sticky__join 
                a(href=routes.profile(user.id)) PROFILE
            .sticky__login
                a(href=routes.logout) LOGOUT